[submodule "3rd-party/eigen"]
	path = 3rd-party/eigen
	url = git@github.com:eigenteam/eigen-git-mirror.git
[submodule "3rd-party/yacas"]
	path = 3rd-party/yacas
	url = git@github.com:grzegorzmazur/yacas.git
[submodule "3rd-party/linenoise-ng"]
	path = 3rd-party/linenoise-ng
	url = git@github.com:arangodb/linenoise-ng.git
[submodule "3rd-party/gnuplot-iostream"]
	path = 3rd-party/gnuplot-iostream
	url = git@github.com:dstahlke/gnuplot-iostream.git
[submodule "3rd-party/tensorflow"]
	path = 3rd-party/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
[submodule "share/spin-scenario/config/gnuplot/colorbrewer"]
	path = share/spin-scenario/config/gnuplot/colorbrewer
	url = git@github.com:aschn/gnuplot-colorbrewer.git
[submodule "3rd-party/nlopt"]
	path = 3rd-party/nlopt
	url = git@github.com:stevengj/nlopt.git
