[submodule "3rd-party/eigen"]
	path = 3rd-party/eigen
	url = git@gitee.com:spin-scenario/eigen-git-mirror.git
[submodule "3rd-party/yacas"]
	path = 3rd-party/yacas
	url = git@gitee.com:spin-scenario/yacas.git
[submodule "3rd-party/linenoise-ng"]
	path = 3rd-party/linenoise-ng
	url = git@gitee.com:spin-scenario/linenoise-ng.git
[submodule "3rd-party/gnuplot-iostream"]
	path = 3rd-party/gnuplot-iostream
	url = git@gitee.com:spin-scenario/gnuplot-iostream.git
[submodule "share/spin-scenario/config/gnuplot/colorbrewer"]
	path = share/spin-scenario/config/gnuplot/colorbrewer
	url = git@gitee.com:spin-scenario/gnuplot-colorbrewer.git
[submodule "3rd-party/nlopt"]
	path = 3rd-party/nlopt
	url = git@gitee.com:spin-scenario/nlopt.git
[submodule "3rd-party/tensorflow"]
	path = 3rd-party/tensorflow
	url = git@gitee.com:spin-scenario/tensorflow.git
